@model RacingApp.Core.DTO_S.CircuitsDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Circuits</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length_Circuit" class="control-label"></label>
                <input asp-for="Length_Circuit" class="form-control" />
                <span asp-validation-for="Length_Circuit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street_Name" class="control-label"></label>
                <input asp-for="Street_Name" class="form-control" />
                <span asp-validation-for="Street_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="House_Number" class="control-label"></label>
                <input asp-for="House_Number" class="form-control" />
                <span asp-validation-for="House_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postal_Code" class="control-label"></label>
                <input asp-for="Postal_Code" class="form-control" />
                <span asp-validation-for="Postal_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
