@model PilotModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pilots</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPilot">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Pilot.Name" class="control-label"></label>
                <input asp-for="Pilot.Name" class="form-control" />
                <span asp-validation-for="Pilot.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pilot.FirstName" class="control-label"></label>
                <input asp-for="Pilot.FirstName" class="form-control" />
                <span asp-validation-for="Pilot.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pilot.NickName" class="control-label"></label>
                <input asp-for="Pilot.NickName" class="form-control" />
                <span asp-validation-for="Pilot.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pilot.LicenseNumber" class="control-label"></label>
                <input asp-for="Pilot.LicenseNumber" class="form-control" />
                <span asp-validation-for="Pilot.LicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pilot.PhotoRelativePath" class="control-label"></label>
                <input asp-for="Pilot.PhotoRelativePath" class="form-control" />
                <span asp-validation-for="Pilot.PhotoRelativePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pilot.Sex" class="control-label"></label>
                <input type="hidden" asp-for="Pilot.Sex" />
                @Html.DropDownListFor(m => m.Sex, new SelectList(Enum.GetValues(typeof(Sex))), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Pilot.DateOfBirth" class="control-label"></label>
                <input asp-for="Pilot.DateOfBirth" class="form-control" />
                <span asp-validation-for="Pilot.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pilot.Length" class="control-label"></label>
                <input asp-for="Pilot.Length" class="form-control" />
                <span asp-validation-for="Pilot.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Length (feet)</label>
                <input asp-for="LengthFeet" class="form-control" />
                <span asp-validation-for="LengthFeet" class="text-danger"></span>
            </div>
            <label>Use Miles</label>
            @Html.CheckBoxFor(m => m.feet)
            <div class="form-group">
                <label asp-for="Pilot.Weight" class="control-label"></label>
                <input asp-for="Pilot.Weight" class="form-control" />
                <span asp-validation-for="Pilot.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Wheight (lbs)</label>
                <input asp-for="Wheightlbs" class="form-control" />
                <span asp-validation-for="Wheightlbs" class="text-danger"></span>
            </div>
            <label>Use Miles</label>
            @Html.CheckBoxFor(m => m.lbs)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
