@model ExceptionModel

@{
    ViewData["Title"] = "Create";
}

<h4>Error</h4>
<hr />
<div class="row">
    @Model.ErrorMessage
</div>
<br />
<a href="##" class="btn btn-primary" onClick="history.go(-1); return false;"> Return to previous page</a>
